%h3 Messages with #{@other_user.username}
- @message_thread.each do |message|
  .message-unit
    .message-body
      = simple_format message.content
    .message-from
      = message.sender_id == @current_user.id ? @current_user.username : @other_user.username
      |
      = message.created_at
    = link_to 'Delete', message_path(message), method: 'delete'

#message-compose
  = form_for @new_message do |f|
    = f.hidden_field :recipient_id
    = f.hidden_field :sender_id
    = f.text_area :content
    = f.submit 'Reply', {:class => 'btn btn-primary', :id => "send-message"}