.col-md-4
  / batman v spiderman
  .form-group 
    .h4 If I had to be a superhero...
    .this-that
      = label_tag(:"quality_superhero_batman", image_tag('batman.png'))      
      = radio_button_tag(:"quality[superhero]", "batman")
    .this-that 
      = label_tag(:"quality_superhero_spiderman", image_tag('spiderman.png'))    
      = radio_button_tag(:"quality[superhero]", "spiderman")
                      
  / DHH
  .form-group 
    .h4 DHH is... a God? Or the Worst?
    .this-that    
      = label_tag(:"quality_dhh_a_god", image_tag('a_god.png'))      
      = radio_button_tag(:"quality[dhh]", "a_god")
    .this-that
      = label_tag(:"quality_dhh_the_worst", image_tag('the_worst.png'))
      = radio_button_tag(:"quality[dhh]", "the_worst")
    
  / tablets
  .form-group 
    .h4 Tablets are... dumb giant phones? Or computers of the future?
    .this-that 
      = label_tag(:"quality_tablets_dumb_giant_phones", image_tag('dumb_giant_phones.png'))           
      = radio_button_tag(:"quality[tablets]", "dumb_giant_phones")
    .this-that
      = label_tag(:"quality_tablets_the_computers_of_the_future", image_tag('the_computers_of_the_future.png'))
      = radio_button_tag(:"quality[tablets]", "the_computers_of_the_future")
    

  / mario v link
  .form-group 
    .h4 The Gameboy Hero...  
    .this-that
      = label_tag(:"quality_gameboy_mario", image_tag('mario.png'))     
      = radio_button_tag(:"quality[gameboy]", "mario")
    .this-that
      = label_tag(:"quality_gameboy_link", image_tag('link.png')) 
      = radio_button_tag(:"quality[gameboy]", "link")
     

  /spike v angel
  .form-group 
    .h4 Team Angel or Team Spike?
    .this-that       
      = label_tag(:"quality_buffy_team_angel", image_tag('team_angel.png'))
      = radio_button_tag(:"quality[buffy]", "team_angel")
    .this-that
      = label_tag(:"quality_buffy_team_spike", image_tag('team_spike.png')) 
      = radio_button_tag(:"quality[buffy]", "team_spike")

.col-md-4
  / os
  .form-group
    .h4 If were forced to use one OS forever and ever...  
    .this-that
      = label_tag(:"quality_os_apple", image_tag('apple.png'))            
      = radio_button_tag(:"quality[os]", "apple")
    .this-that
      = label_tag(:"quality_os_windows", image_tag('windows.png'))
      = radio_button_tag(:"quality[os]", "windows")
    .this-that
      = label_tag(:"quality_os_linux", image_tag('linux.png')) 
      = radio_button_tag(:"quality[os]", "linux")

  /xbox vs playstation
  .form-group 
    .h4 Xbox or PlayStation?
    .this-that       
      = label_tag(:"quality_console_xbox", image_tag('xbox.png'))
      = radio_button_tag(:"quality[console]", "xbox")
    .this-that
      = label_tag(:"quality_console_playstation", image_tag('playstation.png')) 
      = radio_button_tag(:"quality[console]", "playstation")

  / tv
  .form-group 
    .h4 My preferred choice of TV show is...
    .this-that 
      = label_tag(:"quality_tv_big_bang_theory", image_tag('big_bang_theory.png'))         
      = radio_button_tag(:"quality[tv]", "big_bang_theory")
    .this-that
      = label_tag(:"quality_tv_the_it_crowd", image_tag('the_it_crowd.png'))
      = radio_button_tag(:"quality[tv]", "the_it_crowd")

  /trekkie or jedi
  .form-group 
    .h4 Trekkie or Jedi?
    .this-that       
      = label_tag(:"quality_film_trekkie", image_tag('trekkie.png'))
      = radio_button_tag(:"quality[film]", "trekkie")
    .this-that
      = label_tag(:"quality_film_jedi", image_tag('jedi.png')) 
      = radio_button_tag(:"quality[film]", "jedi")

  /android or iphone
  .form-group 
    .h4 Android or iPhone?
    .this-that       
      = label_tag(:"quality_phone_android", image_tag('android.png'))
      = radio_button_tag(:"quality[phone]", "android")
    .this-that
      = label_tag(:"quality_phone_iphone", image_tag('iphone.png')) 
      = radio_button_tag(:"quality[phone]", "iphone")
      

  / / best hack
  / .form-group
  /   = label_tag(:"quality[best_hack]", "Best hack: ", class: "clear-emphasis")
  /   = text_area_tag(:"quality[best_hack]", "", class: "form-control", rows: 2)
  / / error_time
  / .form-group
  /   = label_tag(:"quality[error_time]", "The longest I've spent on a single error:", class: "clear-emphasis")
  /   = text_field_tag(:"quality[error_time]", "", class: "form-control", rows: 2)
  / / youtube comment
  / .form-group
  /   = label_tag(:"quality[argument]", "I totally pwned this guy in the comments section of a YouTube video. Check it out here: ", class: "clear-emphasis")
  /   = text_area_tag(:"quality[argument]", "", class: "form-control", rows: 2)