.col-md-4
  / batman v spiderman
  .form-group 
    .h4 If I had to be a superhero...
    .this-that
      = label_tag(:"quality_superhero_Batman", image_tag('batman.png'))      
      = radio_button_tag(:"quality[superhero]", "Batman")
    .this-that 
      = label_tag(:"quality_superhero_Spiderman", image_tag('spiderman.png'))    
      = radio_button_tag(:"quality[superhero]", "Spiderman")
                      
  / DHH
  .form-group 
    .h4 DHH is... a God? Or the Worst?
    .this-that    
      = label_tag(:"quality_dhh_a_god", image_tag('a_god.png'))      
      = radio_button_tag(:"quality[dhh]", "a god")
    .this-that
      = label_tag(:"quality_dhh_the_worst", image_tag('the_worst.png'))
      = radio_button_tag(:"quality[dhh]", "the worst")
    
  / tablets
  .form-group 
    .h4 Tablets are... dumb giant phones? Or computers of the future?
    .this-that 
      = label_tag(:"quality_tablets_dumb_giant_phones", image_tag('dumb_giant_phones.png'))           
      = radio_button_tag(:"quality[tablets]", "dumb giant phones")
    .this-that
      = label_tag(:"quality_tablets_the_computers_of_the_future", image_tag('the_computers_of_the_future.png'))
      = radio_button_tag(:"quality[tablets]", "the computers of the future")
    

  / mario v link
  .form-group 
    .h4 The Gameboy Hero...  
    .this-that
      = label_tag(:"quality_gameboy_Mario", image_tag('mario.png'))     
      = radio_button_tag(:"quality[gameboy]", "Mario")
    .this-that
      = label_tag(:"quality_gameboy_Link", image_tag('link.png')) 
      = radio_button_tag(:"quality[gameboy]", "Link")
     

  /spike v angel
  .form-group 
    .h4 Team Angel or Team Spike?
    .this-that       
      = label_tag(:"quality_buffy_Team_Angel", image_tag('team_angel.png'))
      = radio_button_tag(:"quality[buffy]", "Team Angel")
    .this-that
      = label_tag(:"quality_buffy_Team_Spike", image_tag('team_spike.png')) 
      = radio_button_tag(:"quality[buffy]", "Team Spike")

  /android or iphone
  .form-group 
    .h4 Android or iPhone?
    .this-that       
      = label_tag(:"quality_phone_Android", image_tag('android.png'))
      = radio_button_tag(:"quality[phone]", "Android")
    .this-that
      = label_tag(:"quality_phone_Iphone", image_tag('iphone.png')) 
      = radio_button_tag(:"quality[phone]", "Iphone")
      

.col-md-4
  / os
  .form-group
    .h4 If were forced to use one OS forever and ever...  
    .this-that
      = label_tag(:"quality_os_Mac", image_tag('apple.png'))            
      = radio_button_tag(:"quality[os]", "Mac")
    .this-that
      = label_tag(:"quality_os_Windows", image_tag('windows.png'))
      = radio_button_tag(:"quality[os]", "Windows")
    .this-that
      = label_tag(:"quality_os_Linux", image_tag('linux.png')) 
      = radio_button_tag(:"quality[os]", "Linux")

  /xbox vs playstation
  .form-group 
    .h4 Xbox or PlayStation?
    .this-that       
      = label_tag(:"quality_console_xbox", image_tag('xbox.png'))
      = radio_button_tag(:"quality[console]", "xbox")
    .this-that
      = label_tag(:"quality_console_Playstation", image_tag('playstation.png')) 
      = radio_button_tag(:"quality[console]", "Playstation")

  / tv
  .form-group 
    .h4 My preferred choice of TV show is...
    .this-that 
      = label_tag(:"quality_tv_Big_Bang_Theory", image_tag('big_bang_theory.png'))         
      = radio_button_tag(:"quality[tv]", "Big Bang Theory")
    .this-that
      = label_tag(:"quality_tv_The_IT_Crowd", image_tag('the_it_crowd.png'))
      = radio_button_tag(:"quality[tv]", "The IT Crowd")

  /trekkie or jedi
  .form-group 
    .h4 Trekkie or Jedi?
    .this-that       
      = label_tag(:"quality_film_Trekkie", image_tag('trekkie.png'))
      = radio_button_tag(:"quality[film]", "Trekkie")
    .this-that
      = label_tag(:"quality_film_Jedi", image_tag('jedi.png')) 
      = radio_button_tag(:"quality[film]", "Jedi")

  / best hack
  .form-group
    = label_tag(:"quality[best_hack]", "Best hack: ", class: "clear-emphasis")
    = text_area_tag(:"quality[best_hack]", "", class: "form-control", rows: 2)
  / error_time
  .form-group
    = label_tag(:"quality[error_time]", "The longest I've spent on a single error:", class: "clear-emphasis")
    = text_field_tag(:"quality[error_time]", "", class: "form-control", rows: 2)
  / youtube comment
  .form-group
    = label_tag(:"quality[argument]", "I totally pwned this guy in the comments section of a YouTube video. Check it out here: ", class: "clear-emphasis")
    = text_area_tag(:"quality[argument]", "", class: "form-control", rows: 2)