%h2
  Edit #{resource_name.to_s.humanize}
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  .form
    .form-group
      = f.label :first_name
      %br/
      = f.text_field :first_name, :autofocus => true
    .form-group
      = f.label :last_name
      %br/
      = f.text_field :last_name
    .form-group
      = f.label :username
      %br/
      = f.text_field :username
    .form-group
      = f.label :email
      %br/
      = f.email_field :email
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .form-group
      = f.label :password
      %i (leave blank if you don't want to change it)
      %br/
      = f.password_field :password, :autocomplete => "off"
    .form-group
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation
    .form-group
      = f.label :current_password
      %i (we need your current password to confirm your changes)
      %br/
      = f.password_field :current_password
    .form-group
      = f.label :gender
      %br/
      = select(:user, :gender, [['Male'], ['Female']])
      %br/
    .form-group
      = f.label :age
      %br/
      = f.number_field :age
      %br/
    .form-group
      = f.label :location
      %br/
      = f.text_field :location

    .btn= f.submit "Update"
  %h3 Cancel my account
  %p
    Unhappy? #{button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}
  = link_to "Back", :back
