%h2 Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  .form
    .form-group
      = f.label :first_name
      %br/
      = f.text_field :first_name, :autofocus => true
    .form-group
      = f.label :last_name
      %br/
      = f.text_field :last_name
    .form-group
      = f.label :username
      %br/
      = f.text_field :username
    .form-group
      = f.label :email
      %br/
      = f.email_field :email
    .form-group
      = f.label :password
      %br/
      = f.password_field :password
    .form-group
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation
      %br/
    .form-group
      = f.label :gender
      %br/
      = select(:user, :gender, [['Male'], ['Female']])
      %br/
    .form-group
      = f.label :age
      %br/
      = f.number_field :age
      %br/
    .form-group
      = f.label :location
      %br/
      = f.text_field :location
    .form-group
      = f.label :avatar
      = f.file_field :avatar


    .btn= f.submit "Sign up"
    = render "devise/shared/links"
