.container.md-col-12
  %h2= @user.username

  %p
    %b= @user.first_name
    %b= @user.last_name
  .profile-image
    = image_tag @user.avatar.gallery
  %p
    %b Email:
    = @user.email
  %p
    %b Age:
    = @user.age
  %p
    %b Gender:
    = @user.gender
  %p
    %b Location:
    = @user.location
  %p
    %b Tagline:
    = @user.tagline
  %p
    %b About Me:
    = @user.bio
  %br

  / %p
  / = STAR (highlighted or NOT)
  / = MESSAGE HIM/HER (msg logo)

