.col-md-8
  %h2= @user.username

  %p
    %b= @user.first_name
    %b= @user.last_name
  .profile-image
    = image_tag @user.avatar
  %p
    %b Email:
    = @user.email
  %p
    %b Age:
    = @user.age
  %p
    %b Gender:
    = @user.gender
  %p
    %b Location:
    = @user.location
  %p
    %b Tagline:
    = @user.tagline
  %p
    %b About Me:
    = @user.bio
  %br

- if user_signed_in? && @user.id != current_user.id
  .col-md-4
    %p#star-action
      - if current_user.already_starred_user? @user.id
        = render :partial => 'unstar_btn', locals: {:user_id => @user.id}
      - else
        = render :partial => 'star_btn', locals: {:user_id => @user.id}
    %p#poke-action= render :partial => 'poke_btn', locals: {:user_id => @user.id}
    %p#flag-action
      - if current_user.already_flagged_user? @user.id
        = render :partial => 'unflag_btn', locals: {:user_id => @user.id}
      - else
        = render :partial => 'flag_btn', locals: {:user_id => @user.id}
