!!!
%html
  %head
    %title Hacker <3
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %nav.nav
      - if user_signed_in?
        %ul.left
          %li= link_to 'Dashboard', dashboard_path
          %li= link_to 'Inbox', inbox_path
          %li= link_to 'Search', search_path
        %ul.right
          %li= image_tag current_user.avatar.thumb, {:class => 'nav-avatar'}
          %li= link_to 'Exit',  destroy_user_session_path, method: :delete
      - else
        %ul
          %li= link_to 'Sign Up', new_user_registration_path
          %li= link_to 'Sign In', new_user_session_path
          %li= link_to 'Search', search_path
      .clear
    #alerts
      .alert.alert-success.notice{style:'display:none;'}= notice if notice.present?
      .alert.alert-danger{style:'display:none;'}= alert if alert.present?    
    #wrap
      #window-bar
        #window-buttons
      #content.container.col-md-12
        = yield

